p{
    font-style: italic;
    /* background-image: url(https://unsplash.com/photos/pink-and-white-flowers-with-green-leaves-6c43FgRt0Dw); */
    background-color: goldenrod;
}
body{
    background-color: goldenrod;
}
